body {
  line-height: 2;
}


h1{
  color:black;
}

.header{
  display:flex;
  top:0;
  justify-content: space-between;
  background: linear-gradient(gray,lightgray);
}
.subhead {
  display: flex;
    justify-content: flex-end;
 
}

ul {
  display: flex;
  align-content: center;

}

ul li {
  list-style: none;
}

ul li a {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 0.875em;
  text-decoration: none;
  padding: 1em;
  white-space: nowrap;
  letter-spacing: 1px;
}

ul li a:hover {
  border-bottom: 3px solid #fff;
}


.date {
  font-size: 0.6em;
  letter-spacing: 2px;
}

.bio-section p {
  padding: 0 20px;
}

.bio-section,
.achievements-section {
  background: #fbfbfb; 
  padding: 90px 0 90px;
}

.bio-section h2,
.achievements-section h2,
.more-section h2 {
  margin-bottom: 40px;
}


.achievements-section .container {
  padding: 0 35px;
}

.achievements-section ul > li {
  padding-bottom: 25px;
}

.blockquote {
 margin-top: 9.375em;
}

.main-footer {
  background: #fbfbfb;
  text-align: center;
  padding: 20px 0 0;
}